# ======================
# BUILD Y GRADLE
# ======================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ======================
# SERENITY / TEST OUTPUT
# ======================
target/
.serenity/
allure-report/
allure-results/
test-output/

# ======================
# IDEs
# ======================

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# Eclipse
.classpath
.project
.settings/

# ======================
# SISTEMA OPERATIVO
# ======================
.DS_Store
Thumbs.db

# ======================
# LOGS / TEMPORALES
# ======================
*.log
*.tmp
*.bak
*.swp
*.orig
*.rej
